.ingredientfields, .infofields{
    display:inline-block;
    vertical-align:top
}

#recipe{
    display:inline;
}

.alert{
    display:block;
}

button{
    margin-top:5px;
    margin-bottom:5px;
}

label{
    display:block;
}