body{margin: 10px}
#tableArea{margin: 50px}
#newDrinkTable{margin: 50px}

input{
    margin: 10px;
}

button{
    margin-top: 10px;
}

label{
    float: left;
    width: 100px;
    margin: 10px;
}

#textarea{
    overflow: auto;
}

#info{
   float:left;
}

#infoboxes{
    float:left;
}

.infofields{
    margin-right: 35em;
    float:right;
}

.recipe{
    float:left;
}

.container{
    padding:0px 0;
    width: 960px;
    margin: 0 auto;
}