
h1{
    display:inline;
}

h4{
    margin-left:10px;
}

#registerlink{
    float:right;
    color:white;
}

#registerlink:hover{
    color:purple;
}

#header{
    background-color:#3276b1;
    color:white;
    padding: 10px;  
    padding-bottom: 5px;

}

.alert{
    margin-top:10px;
    margin-bottom: 5px;
}

#content{
    background-color:#9276b1;
    width:40%;
}

label{
    margin-left:10px;
}
