.alert{
    margin-top:10px;
}

#mainlink:link{
    color:black;
}

#mainlink:hover{
    color:#539deb;
}

#signout{
    float:right;
    margin-right:1em;
    margin-top:5px;
}

#navtabs{
    display:inline-block;
}

.content{
    margin-top: 1em;
}