.alert{
    margin-top:10px;
}

#mainlink:link{
    color:black;
}

#mainlink:hover{
    color:#539deb;
}

#signout{
    float:right;
    margin-right:1em;
    margin-top:5px;
}

#navtabs{
    display:inline-block;
}

.container{
    margin-top: 1em;
}


.required:after{
    content:" *";
    color:red;
}

.lastcell{
    border-color: transparent !important;
    background-color: transparent !important;

}

.table{
    margin-top:1em;
}