body{
    margin:10px;
}

#mainlink:link{
    color:black;
}

#mainlink:hover{
    color:#539deb;
}
root { 
 
}
h1{
    display:inline;
    margin-bottom: 25px;
}
#header{
    margin-bottom: 20px;
}

#signout{
    float:right;
    display:inline;
}