/* 
    Document   : registration
    Created on : Feb 17, 2014, 9:04:36 AM
    Author     : Pete
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

label{
    display:block;
}



